<%- include("header"); -%>

<h1>ABOUT</h1>
<p>
    This app allows user to post the topics they know. They can use compose option to post the new topics they know and it will be displayed in home section . <br> 
  <strong>  Unwanted post / Illegal / Misleading posts will be deleted </strong>
</p>