<%- include("header"); -%>

<h1>CONTACT</h1>

<input id="slider" class="customSlider" type="checkbox">
<label for="slider"></label>

<div class="wrapper">
	<div class="top-icons">
		<i class="fas fa-long-arrow-alt-left"></i>
		<i class="fas fa-ellipsis-v"></i>
		<i class="far fa-heart"></i>
	</div>
	
	<div class="profile">
		<img src="https://avatars.githubusercontent.com/u/104712356?s=400&u=01ea8e4918f9f9dde9c7844e0e10ceba66f19f72&v=4" class="thumbnail">
		<div class="check"><i class="fas fa-check"></i></div>
		<h3 class="name">Ajithkumar Shetty</h3>
		<p class="title">Javascript Developer</p>
		<p class="description">I'm a full stack developer</p>
		<button type="button" class="btn">Hire Me</button>
	</div>
	
	<div class="social-icons">
		<div class="icon">
			<a href="/"><i class="fab fa-dribbble"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>
		
		<div class="icon">
			<a href="#"><i class="fab fa-behance"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>
		
		<div class="icon">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>
	</div>
</div>

<div class="concept">concept by 
	<a href="https://dribbble.com/shots/4346772-Profile-Card" target="_blank">
		<i class="fab fa-dribbble"></i> Vijay Verma
	</a>
</div>