<%- include("header"); -%>

<h1>CONTACT</h1>
<div class="flex">
<div class="container">
	<div class="pic">
		<img src="https://avatars.githubusercontent.com/u/104712356?v=4" alt="MYPIC">
	</div>
	<div class="description">
		<div class="title">
			WEB DEVELOPER
		</div>
		<div class="desc">
			Hi, Im a web developer. I have been working on it from past 1 year. I have a basic knowledge of how websites are actually made
		</div>
		<div class="links">
				<a href="https://github.com/Ajithkumar9242">Github</a>
				<a href="https://codepen.io/Anonymous456/">Codepen</a>
		</div>
	</div>
</div>
</div>

