<%- include("header"); -%>


<form action="/login" method="post" >
    <div class="loginM">
        <h1 class="delete">LOGIN</h1>
    <input class="name" type="text" name="name" placeholder="Enter your name"/>
    <input class="passWrd" type="password" name="password" placeholder="password" />
    <button class="subBtn" type="submit">Submit</button>
</div>
</form>
