.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{ 
    height: 75vh;
    width: 25vw;
    border-radius: 12px;
background: #e0e0e0;
box-shadow:  13px 13px 25px #acacac,
             -13px -13px 25px #ffffff;
}
.pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic img{
    width: auto;
    height: 35vh;
}
.title{
    margin-top: 1em;
    text-align: center;
}
.desc{
    margin-top: 2em;
}
li{
    list-style: "*";
}

.links{
    display: flex;
    justify-content: space-evenly;
}

.auto {
    font-size: 1.7em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  