@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: rgba(217, 217, 217, 0.58);
    scroll-behavior: smooth;
   
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(179, 179, 179);
}
.site-header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.site-identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}
.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}



.root{
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.3em;
    
}


.card {
    flex-basis: auto;
    box-sizing: border-box;
    width: 290px;
    height: 354px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(6px);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    font-weight: bolder;
    flex-direction: column;
  }

  
  @media only screen and (max-width: 600px) {
    
    .site-header {
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .site-navigation .nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .site-navigation li {
        padding: 0%;
        margin: 0%;
        
    }
}

.roott{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div2{
    display: flex;
    flex-direction: column;
}

.chekbox{
    
    display: inline;
}